.ready{
    background: #000000;
    color: #ffffff;
    padding: 1.5em;
}
.ready-bottom{
    margin-left: 10%;
}
.ready-bottom-content{
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
}
@media screen and (max-width: 767px) {
    .arrow{
     width: 90%;
    }
    .ready-bottom{
        margin-left: 2%;
    }
    .ready-bottom-content{
        flex-direction: column;
        margin-left: 20%;
    }
}