.background{
    width: 97.6vw;
    height: 95vh;
}
.main-info{
    text-align: center;
    position: absolute;
    color: #ffffff;
    top: 25%;
    left: 30%;
}
h1{
    font-size: 48px;
}
.gradient{
    background: -webkit-linear-gradient(90.68deg, #EC1EB1 9.13%, #5E01BA 66.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.cyberstick{
    height: 40vh;
}
@media screen and (max-width: 767px) {
    .background{
     height: 130vh;
    }
}