.background{
    width: 97.6vw;
    height: 75vh;
}
.main-info{
    display: flex;
    color: #ffffff;
    padding: 1em;
    margin-top: -35%;
}
h1{
    font-size: 48px;
}
.gradient{
    background: -webkit-linear-gradient(90.68deg, #EC1EB1 9.13%, #5E01BA 66.96%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.cyberstick{
    height: 50vh;
    margin-left: 25%;
}
@media screen and (max-width: 767px) {
    /* .background{
     height: 130vh;
    } */
    .main-info{
        flex-direction: column;
    }
}